{{>partials/header}}
<body>

<p>Você está na <strong>Home</strong> e seu nome é {{user}} e sobrenome {{name}}</p>

{{#showIdade}}
    Sou maior que 50 anos.
{{/showIdade}}

<h2>Produtos</h2>
<ul>
    {{#products}}
        <li><strong>Nome:</strong> {{title}} - <strong>Preço:</strong> {{price}}</li>
    {{/products}}
<h2>Produtos acima de R$3.000,00 reais</h2>
    {{#products12}}
        <li><strong>Nome:</strong> {{title}} - <strong>Preço:</strong> {{price}}</li>
    {{/products12}}
    {{#carros}}
        {{.}}
    {{/carros}}
    {{^carros}}
        Não ha carros na Lista.
    {{/carros}}
</ul>

{{>partials/footer}}
</body>
</html>

