<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

<p>Você está na <strong>Home</strong> e seu nome é {{user}} e sobrenome {{name}}</p>

{{#showIdade}}
    Sou maior que 50 anos.
{{/showIdade}}
    
</body>
</html>

